<div class="banner">
  <div class="intro-box">
    <h1>
      About Us
    </h1>
  </div>
</div>

<div class="summary">
  <div>
    <img  class="header-image"  src="assets/images/about-us.svg" alt="">
    <br>
    <p>
      Our services are provided to any business, any company either private or public, government department and
      individuals who are in need of our services. We provide these services across the province of Kwa-Zulu Natal and
      neighboring provinces.
    </p>

    <p class="list-paraghraph">
      Our business provides general construction services including the following: <br><br>
      <!-- <BR><span></span>Building construction
      <BR><span></span> Civil works i.e. roads, bridge, storm water, sewer lines etc
      <BR><span></span> General repairs to buildings
      <BR><span></span> Sports Fields Construction and Design
      <BR><span></span> General construction
      <BR><span></span> Road constructions and repairs
      <BR><span></span> Fencing
      <BR><span></span> Roofing
      <BR><span></span> Painting
      <BR><span></span> Plastering
      <BR><span></span> Plumbing
      <BR><span></span> Carpentry; and Other -->

 <BR><span></span> We are specialists in Railway Line Shutdowns
 <BR><span></span> We specializes on Bore Hole Surveying and Bore Hole Drilling
 <BR><span></span> Elevated Water Tanks 
 <BR><span></span> We provide Plant Hire Services
 <BR><span></span> Stone Materials  
 <BR><span></span> Slippers 
 <BR><span></span> Flood Lighting 
 <BR><span></span> Day & Night Security Services.
 <BR><span></span> Water Pumps Fitting 
 <BR><span></span> Water Pipe Fitting 
 <BR><span></span> Building Reservoirs
 <BR><span></span> Road Patching 
 <BR><span></span> Tared Road
 <BR><span></span> Re- Graveling
 <BR><span></span> New Gravel Road
    </p>
  </div>
  <div>
    <img src="assets/images/intro.svg" alt="">
  </div>
</div>



<div class="body">
<h2>
  Introduction
</h2>
<p>
  Sehla Trading is a registered close corporation with registration number: 2004/068927/23. We
  are a registered tender on the government database and we aim to be awarded as many tenders
  as possible.
</p>
<p>
  Since the establishment of the business to date, the business has been mainly focusing on
  construction work and other related services to various government departments and
  municipalities.
  Our principal activities are carried out through our construction, manufacturing and infrastructural
  development divisions.
</p>
<p>
  Construction encompasses building/housing, civil engineering, roads and earthworks
  engineering projects. This division also provides products such as precast building systems,
  which offer construction solutions to a range of clients.
</p>
<p>
  Sports Facilities Design and Construction provides a world class range of sports facilities
  ranging from indoor and outdoor sporting activities. We have successfully constructed Soccer
  fields/Rugby Fields, Basketball, Tennis and Netball yard.
</p>
<p>
  Infrastructure offers system design, procurement, implementation and operation, together with
  related services such as routine road maintenance.
</p>
<h2>
  Mission
</h2>
<p>
  We built our business around a commitment to meeting the many needs within the construction
  sector. We believe that with an unmatched combination of competitive pricing and personal
  service, we will be the service provider of choice. Extra effort always set us apart, and it will
  always help our customers get ahead.
  Part of our mission is to:
</p>
<p>
  <BR><span></span> build a sustainable and professional organisation that becomes the preferred leader in
  construction and mining industrial;
  <BR><span></span> establish a foundation of quality service that strives to achieve customer satisfaction by
  meeting and exceeding customer expectations, and
  <BR><span></span> Contribute positively to the development of this country by creating job opportunities.
</p>
<h2>
  Our Vision
</h2>

<p>
  <BR><span></span> to be the preferred choice of our customers in the construction industry initially and to
  expand in the near future to become the preferred choice in both the mining and industrial
  industries as well;
  <BR><span></span> to ensure that our recognition stems from our commitment to excellence and the quality
  of our services;
  <BR><span></span> to ensure that all our customers have a high level of satisfaction with their association
  with us; and
  <BR><span></span> In addition to the above we believe that we bring this vision to fulfilment by:
  <BR><span></span> Implementing strict and disciplined financial controls and systems;
  <BR><span></span> Applying management experience of the industry to empower staff as well
  as those previously disadvantaged;
  <BR><span></span> Demonstrating dynamic and inspirational leadership that will set an example
  worth following;
  <BR><span></span> Rewarding loyalty and excellence that is upheld and maintained.
</p>

<h2>
  Construction industry
</h2>
<p>
  South Africa's building and construction sector promises to be at the forefront of the country's
  economic development as it is a sector that has the potential to employ a large number of people
  (at present, the sector employs about 260 000 people). Despite some slow periods, the industry
  has shown an overall trend of improvement since 2000.
</p>
<p>
  Although the sector is mainly made up of a few large companies, it has provided a number of
  empowerment opportunities. Various projects (such as those associated with the IDT) have been
  awarded to construction companies belonging to women and others matching empowerment
  criteria. At least 45% of building investment stems from residential sources.
</p>

<p>
  The development potential of the industry hinges on skills development. Many of those employed
  in the building and construction industry are unskilled and the training they receive through their
  work experience can result in them becoming semi-skilled or skilled workers.
</p>
<p>
  The construction of low cost housing is a significant feature of the building and construction
  industry as it allows for the participation of new role players and fulfills one of the South African
  government's main priorities, the rollout of essential services to all of South Africa’s people.
</p>
<p>
  The expansion of this sector is closely tied in with levels of investment in the country, and
  impacts on a wide range of related sectors, such as cement, construction equipment and the
  specialist services associated with building and construction.
</p>
</div>
<app-footer></app-footer>

<!-- <div class="summary">
  <div>
    <img src="assets/images/WHATWEDO.svg" alt="">
    <br>
    <p>
      Our services are provided to any business, any company either private or public, government department and
      individuals who are in need of our services. We provide these services across the province of Kwa-Zulu Natal and
      neighboring provinces.
    </p>

    <p class="list-paraghraph">
      Our business provides general construction services including the following: <br><br>
      <BR><span></span>Building construction
      <BR><span></span> Civil works i.e. roads, bridge, storm water, sewer lines etc
      <BR><span></span> General repairs to buildings
      <BR><span></span> Sports Fields Construction and Design
      <BR><span></span> General construction
      <BR><span></span> Road constructions and repairs
      <BR><span></span> Fencing
      <BR><span></span> Roofing
      <BR><span></span> Painting
      <BR><span></span> Plastering
      <BR><span></span> Plumbing
      <BR><span></span> Carpentry; and Other
    </p>
  </div>
  <div>
    <img src="assets/images/intro.svg" alt="">
  </div>
</div>
<app-footer></app-footer> -->
