<div class="banner">
  <div class="intro-box">
    <h1>
      Our Services
    </h1>
  </div>
</div>

<div class="summary">
  <div>
    <img class="header-image" src="assets/images/WHATWEDO.svg" alt="">
    <br>
    <p>
      Our services are provided to any business, any company either private or public, government department and
      individuals who are in need of our services. We provide these services across the province of Kwa-Zulu Natal and
      neighboring provinces.
    </p>

    <p class="list-paraghraph">
      Our business provides general construction services including the following: <br><br>
      <!-- <BR><span></span>Building construction
      <BR><span></span> Civil works i.e. roads, bridge, storm water, sewer lines etc
      <BR><span></span> General repairs to buildings
      <BR><span></span> Sports Fields Construction and Design
      <BR><span></span> General construction
      <BR><span></span> Road constructions and repairs
      <BR><span></span> Fencing
      <BR><span></span> Roofing
      <BR><span></span> Painting
      <BR><span></span> Plastering
      <BR><span></span> Plumbing
      <BR><span></span> Carpentry; and Other -->

 <BR><span></span> We are specialists in Railway Line Shutdowns
 <BR><span></span> We specializes on Bore Hole Surveying and Bore Hole Drilling
 <BR><span></span> Elevated Water Tanks 
 <BR><span></span> We provide Plant Hire Services
 <BR><span></span> Stone Materials  
 <BR><span></span> Slippers 
 <BR><span></span> Flood Lighting 
 <BR><span></span> Day & Night Security Services.
 <BR><span></span> Water Pumps Fitting 
 <BR><span></span> Water Pipe Fitting 
 <BR><span></span> Building Reservoirs
 <BR><span></span> Road Patching 
 <BR><span></span> Tared Road
 <BR><span></span> Re- Graveling
 <BR><span></span> New Gravel Road
    </p>
  </div>
  <div>
    <img src="assets/images/intro.svg" alt="">
  </div>
</div>
<app-footer></app-footer>
