<div class="home">
  <div class="intro-box">
    <h1>
      CONSTRUCTION, MANUFACTURING
      AND INFRASTRUCTURAL
      DEVELOPMENT DIVISIONS.
    </h1>

    <p>
      Construction encompasses building/housing,
      civil engineering, roads and earthworks
      engineering projects.....
    </p>
    <a routerLink="about-us">Read More</a>
    <br><br>
  </div>
</div>

<div class="summary">
  <div>
    <img class="header-image" src="assets/images/exeg.svg" alt="">
    <br>
    <p>
        Sehla Trading is a registered close corporation with registration 
        number: 2004/068927/23. We are a registered tender on the government database and we aim to be awarded as many tenders
        as possible.
    </p>

    <p>
        Since the establishment of the business to date, the business has been mainly focusing on
        construction work and other related services to various government departments and
        municipalities.
    </p>
  </div>
  <div>
    <img src="assets/images/intro.svg" alt="">
  </div>
</div>

<app-footer></app-footer>
